<div [class.footer-imprint]="darkMode" class="flex-direction bg-light pl-130 pr-130">
    <footer class="d-flex flex-wrap justify-content-between align-items-center mt-3 mb-3 mobile-container-1">
      <p class="col-md-4 mb-0 text-muted">© 2021 Julian Stahl</p>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a routerLink="/imprint" class="nav-link px-2 text-muted">Imprint</a></li>
        <li class="nav-item"><a routerLink="/data-protection" class="nav-link px-2 text-muted">Data Protection</a></li>
      </ul>
    </footer>
  </div>

