<div class="bg-grey pr-130 pl-130 pt-5 mobile-container-1">

    <div class="d-flex justify-content-center align-items-center mobile-container-2">
        <div class="w-50 text-center mobile-container-3">
            <img class="me" src="/assets/img/JS.jpg">
        </div>

        <div class="w-50 text-center mobile-container-3">
            <h2 class="c-white">About Me</h2>
            <p class="c-white">"I'm an outdoor sports enthusiast (Football forever) and front end developer who loves
                pushing boundaries</p>
        </div>

    </div>

    <hr class="c-blue mt-5 mb-5 mobile-container-4" style="height: 3px;">

    <div class="d-flex pt-3 pb-5 mobile-container-1">

        <div class="d-flex flex-column justify-content-center align-items-center w-25 mobile-container-3">
            <div class="icon-container bg-blue">
                <img class="icons" src="/assets/img/walk-line.png">
            </div>

            <div>
                <p class="c-white text-center">MY JOURNEY BEGAN <br> </p>
                <p class="c-white text-center"> as a product manager in an industrial company</p>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center w-25 mobile-container-3">
            <div class="icon-container bg-blue">
                <img class="icons" src="/assets/img/walk-line.png">
            </div>

            <div>
                <p class="c-white text-center">MY JOURNEY BEGAN <br> </p>
                <p class="c-white text-center"> as a product manager in an industrial company</p>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center w-25 mobile-container-3">
            <div class="icon-container bg-blue">
                <img class="icons" src="/assets/img/walk-line.png">
            </div>

            <div>
                <p class="c-white text-center">MY JOURNEY BEGAN <br> </p>
                <p class="c-white text-center"> as a product manager in an industrial company</p>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center w-25 mobile-container-3">
            <div class="icon-container bg-blue">
                <img class="icons" src="/assets/img/walk-line.png">
            </div>

            <div>
                <p class="c-white text-center">MY JOURNEY BEGAN <br> </p>
                <p class="c-white text-center"> as a product manager in an industrial company</p>
            </div>
        </div>


    </div>

</div>