<div class="pt-5 bg-black text-white full-screen pr-130 pl-130 mobile-container-3">
    <div class="d-flex justify-content-between align-items-center mobile-container-1">
        <div class="mobile-container-2">
            <h1>Hi,<br>
                I'm <span class="c-pink">Julian</span> Stahl<br>
                Front End developer</h1>
                <a href="/#contact" type="button" class="btn btn-primary btn-lg mt-5">Contact me</a>
            </div>

        <img class="me" src="/assets/img/JS.jpg">
    </div>

    <div class="d-flex justify-content-center arrow-img">
        <a href="#my-skills"><img src="/assets/img/arrow.png"></a>
    </div>
</div>