
<hr>

<div class="pr-130 pl-130 full-screen-footer mobile-container-1">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Julian Stahl<br />
        Gollacker 14<br />
        35708 Haiger</p>

    <h2>Kontakt</h2>
    <p>Telefon: 015123256100<br />
        E-Mail: developer@stahl-julian.de</p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
        teilzunehmen.</p>

    <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
</div>

<hr>
